<!DOCTYPE>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
	  <h3>Welcome To www.rahul.com, <%= @user1.name %></h3>
		<p>
		  you have successfully edited
			your email is: <%= @user1.email %>
		</p>

  </body>
</html>