.center {
  text-align: center;
}
table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tr:hover {
  background-color: #ddd;
}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #48b864;
  color: white;
}

table button {
  border: none;
  border-radius: 5px;
  background-color: cadetblue;
  color: white;
}
body {
  background-color: rgb(200, 214, 212);
}
